@model Application.ViewModels.SaveTvSerieViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar Serie";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card-header bg-dark text-light">
                <h4>@(editMode ? $"Editando Serie: {Model.Name}" : "Crando nueva serie")</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Serie" asp-action="@(editMode ? "Edit" : "Create")">

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nombre: </label>
                        <input asp-for="Name" class="form-control" type="text" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Link" class="form-label">Url: </label>
                        <input asp-for="Link" class="form-control" type="text" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImgLink" class="form-label">Imagen(url): </label>
                        <input asp-for="ImgLink" class="form-control" type="text" />
                        <span asp-validation-for="ImgLink" class="text-danger"></span>
                    </div>

                    <label asp-for="ProducerId" class="form-label">Productora: </label>
                    <select asp-for="ProducerId" class="form-select">
                        <option value="1">One</option>

                    </select>
                    <span asp-validation-for="ProducerId" class="text-danger"></span>

                    <label asp-for="PrimaryGenderId" class="form-label">Genero Primario: </label>
                    <select asp-for="PrimaryGenderId" class="form-select">
                        <option value="1">Anime</option>

                    </select>
                    <span asp-validation-for="PrimaryGenderId" class="text-danger"></span>

                    <label asp-for="SecondaryGenderId" class="form-label">Genero Secundario: </label>
                    <select asp-for="SecondaryGenderId" class="form-select">
                        <option value="3">General</option>

                    </select>

                    <input type="hidden" asp-for="Id" />

                    <button type="submit">Guardar</button>
                    <a asp-controller="Serie" asp-action="Index" class="btn btn-warning">Volver atras</a>

                </form>

            </div>
        </div>
    </div>
</div>

