@model Application.ViewModels.SaveProducerViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar productora";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card-header bg-dark text-light">
                <h4>@(editMode ? $"Editando Productora: {Model.Name}" : "Crando nueva productora")</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Producer" asp-action="@(editMode ? "Edit" : "Create")">

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nombre: </label>
                        <input asp-for="Name" class="form-control" type="text" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>                   

                    <button type="submit">Guardar</button>
                    <a asp-controller="Producer" asp-action="Index" class="btn btn-warning">Volver atras</a>

                </form>

            </div>
        </div>
    </div>
</div>

